/* CSS Styles for Robert in Motion Website */

/* Body Styles */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #F9FAFB;
    color: #333;
}

/* Header Styles */

header {
    background-color: #3A3FCD;
    color: #F9FAFB;
    padding: 20px;
    text-align: center;
    /* Flexbox properties for centering */
    display: flex;
}

header h1 {
    margin: 0;
    font-size: 5em;
    font-family: 'Brush Script MT', cursive;
}

header h1 a {
    color: #F9FAFB;
    text-decoration: none;
    transition: color 0.3s ease;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-left: 10%;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
    font-size: 1.2em;
    font-weight: bold;
}

header nav ul li a {
    color: #F9FAFB;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #FFD700;
}

/* Main Content Styles */

main {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

/* Section Styles */

section {
    margin-bottom: 40px;
}

/* Hero Section Styles */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero img {
    width: 40%;
    height: auto;
    display: block;
    margin: 0 auto;
    /* Image Stylings */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero .container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero .container p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-top: 20px;
    font-style: italic;
}

.hero .container h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-weight: bold;
}